/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  -webkit-font-smoothing: antialiased;
  color: #424242;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  letter-spacing: -0.05em;
}

#wrapper {
  margin: 0 auto 80px auto;
  width: 1200px;
  height: calc(100vh - 80px);
  overflow: hidden;
  position: relative;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
}

.title {
  font-family: 'Work Sans', sans-serif;
  font-size: 64px;
  font-weight: 800;
  margin: 0.2em 0;
}

.subtitle {
  font-size: 28px;
  margin: 0.2em 0;
}

.subtitle span {
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  top: -2px;
  padding: 6px;
}

.sections {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 0;
  position: relative;
  top: 10px;
}

.sections li {
  cursor: pointer;
}

.sections li em {
    font-style: italic;
    font-size: 29px;
    padding-right: 30px;
    text-align: right;
    width: 40px;
    display: inline-block;
  }

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.social-icons li {
  padding: 15px;
  cursor: pointer;
}

.social-icons li:hover svg {
  fill: #5599d3;
}

.social-icons svg {
  transition: fill 300ms cubic-bezier(0.42, 0.08, 0.2, 0.98);
  fill: #424242;
}
