.App {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.lower-bar {
  background-color: #5599d3;
  width: 100vw;
  height: 19px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  animation: 1.2s ease-in 1.2s forwards fadein;
}

@keyframes fadein {
  0 { opacity: 0; }
  100% { opacity: 1 }
}
