.SocialIcons {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.SocialIcons a {
  border: none;
}

.SocialIcons li {
  padding-right: 30px;
  cursor: pointer;
}

.SocialIcons li:hover svg {
  fill: #5599d3;
}

.SocialIcons svg {
  transition: fill 300ms cubic-bezier(0.42, 0.08, 0.2, 0.98);
  fill: #424242;
}

@media screen and (max-width: 1048px) {
  .SocialIcons li {
    padding-right: 20px;
  }
  .SocialIcons svg {
    height: 25px;
  }
}

@media screen and (max-width: 680px) {
  .SocialIcons {
    justify-content: center;
  }
  .SocialIcons li {
    padding-right: 30px;
  }
  .SocialIcons svg {
    height: 22px;
  }
}
