.Work {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.Work .scroll-indicator {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  position: relative;
  top: -100px;
  transition: opacity 700ms ease-in-out, transform 1.5s cubic-bezier(0.28, 0.8, 0.57, 0.98);
  opacity: 0;
  transform: translateY(-25px);
}

.scroll-indicator h3 {
  text-align: center;
  color: #aaa;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Work Sans', sans-serif;
}

.scroll-indicator .down-arrow {
  height: 6px;
  width: 6px;
  margin: auto;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bbb;
  transform: rotate(45deg);
}

.Work a {
  color: #424242;
  border: none;
}

.Work ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.Project {
  margin: 10px 10px 20px;
  height: 310px;
  width: 300px;
  opacity: 0;
  transition: opacity linear 500ms;
}

.Project .Image {
  width: 100%;
  height: 170px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
}

.Project h2 {
  font-size: 20px;
  margin: 23px 0;
}

.Project h2 span {
  font-style: italic;
  font-size: 16px;
  padding-right: 5px;
}

.Project p {
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
}

@media screen and (max-width: 680px) {
  .Work .scroll-indicator {
    top: -44px;
  }

  .scroll-indicator h3 {
    font-size: 10px;
    margin-bottom: 8px;
  }

  .Project {
    margin: 40px 0;
    width: 100%;
  }
  .Project .Image {
    height: 200px;
  }
  .Project h2 {
    padding: 10px 40px;
  }

  .Project p {
    padding: 0 40px;
  }
}
